<div class="section-card">
    <h2>Budget mensuel</h2>

    <div class="budget-input">
        <div class="input-group">
            <input type="number" [(ngModel)]="monthlyBudget">
            <label>Budget du mois (€)</label>
        </div>

        @if(monthlyBudget()! > 0) {
        <div class="budget-progress">
            <div class="bar">

                <div class="fill" [style.width.%]="budgetUsedPercent"
                    [style.background]="budgetUsedPercent >= 100 ? 'linear-gradient(90deg, #e53935, #ef5350)' : 'linear-gradient(90deg, #4caf50, #81c784)'">
                </div>
            </div>

            <p>{{ totalExpenses() }} € / {{ monthlyBudget() }} € ({{ budgetUsedPercent }}%)</p>
        </div>
        }

    </div>
</div>