<app-header [isDarkMode]="isDark" (applyThemeChange)="applyTheme($event)"
  (lockStatusChange)="lockStatusChange($event)"></app-header>
<div class="app-container">
  @if(isLocked()) {
  <app-lock-screen [storedPin]="storedPin()" (lockStatusChange)="lockStatusChange($event)"
    (storedPinChange)="storedPinChange($event)"></app-lock-screen>
  } @else {
  <div class="budget-page">
    <div class="budget-card">
      <app-toolbar (executeExportCSV)="exportCSV($event)" (executeExportPDF)="exportPDF()"
        (executeCryptedExport)="exportEncrypted()" (executeCryptedImport)="importEncrypted($event)">
      </app-toolbar>

      <div class="budget-layout">
        <div class="column left">
          <app-monthly-goal [monthlyGoal]="dataService.monthlyGoal()" [totalExpenses]="totalExpenses()" (monthlyGoalChange)="dataService.monthlyGoal.set($event ?? 0); saveData()"></app-monthly-goal>
          <app-monthly-budget [monthlyBudget]="dataService.monthlyBudget()" [totalExpenses]="totalExpenses()" (monthlyBudgetChange)="dataService.monthlyBudget.set($event ?? 0); saveData()"></app-monthly-budget>
          <app-income [income]="dataService.income()" (incomeChange)="dataService.income.set($event ?? 0); saveData()"></app-income>
          <app-expense [categories]="dataService.categories()" (addExpenseHandler)="addExpense($event)"></app-expense>
          <app-category (onCategoriesChange)="afterCategoriesChange($event)" [categories]="dataService.categories()"></app-category>
        </div>

        <div class="column right">
          <div id="budget-content">
            <app-kpi [yearlyTotals]="yearlyTotals()" [income]="dataService.income()" [totalExpenses]="totalExpenses()" [monthlyBudget]="dataService.monthlyBudget()" [monthlyGoal]="dataService.monthlyGoal()" [dailyAverage]="dailyAverage()" [selectedYear]="selectedYear" [selectedMonth]="selectedMonth" [endOfMonthProjection]="endOfMonthProjection()" [monthComparisonPercent]="monthComparisonPercent()"></app-kpi>

            <app-expense-list [expenses]="dataService.expenses()" [filteredExpenses]="filteredExpenses()" [groupedExpenses]="groupedExpenses()" [filteredExpenses]="filteredExpenses()" [selectedMonth]="selectedMonth" (removeExpenseChange)="removeExpense($event)" (updatedFilterChange)="updateFilter($event)"></app-expense-list>

            <app-chart-list #chartList [categories]="dataService.categories()" [expenses]="dataService.expenses()" [groupedExpenses]="groupedExpenses()" [selectedMonth]="selectedMonth" [selectedYear]="selectedYear" [selectedCategoryForTrend]="selectedCategoryForTrend" [totalExpenses]="totalExpenses()" [monthlyBudget]="dataService.monthlyBudget()" [previousMonthTotal]="previousMonthTotal()" [endOfMonthProjection]="endOfMonthProjection()" [yearlyTotals]="yearlyTotals()"></app-chart-list>

          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>