@use '../../styles/responsive';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin-bottom: 16px;
  backdrop-filter: blur(12px);
  background: rgba(255,255,255,0.05);
  border-radius: 12px;
}